<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850465034079-vabjfn8pnuoikig0tv30p70agkrqr5i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850465034079-vabjfn8pnuoikig0tv30p70agkrqr5i4</string>
	<key>API_KEY</key>
	<string>AIzaSyBqatDpGQU18EZhXQsoLOw9MrmzYSGJTEU</string>
	<key>GCM_SENDER_ID</key>
	<string>850465034079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michelle.appBbdd</string>
	<key>PROJECT_ID</key>
	<string>flutter-74bac</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-74bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850465034079:ios:d4da7aa4c983d39dcb70ea</string>
</dict>
</plist>